/blitting_image.py
/drawing.py
/FPS_and_screenborder.py
/hit.ogg
/jenerik.wav
/jump.wav
/keyboard.py
/mouse.py
/pygame_ses.py
/screen.py
/sesefekti.wav
/sound.py
/writing.py
/writing1.py
/yay.wav
/yönler.png